{% extends "base.html.twig" %}

{% block title %}Bonjour {{user.fullName}}{% endblock %}

{% block body %}
    <div class="container marginForm">
        <h1>Bonjour {{user.fullName}}</h1> 
    </div>
{% endblock %}