{% extends 'base.html.twig' %}

{% block title %}Mon Bon Syndic {% endblock %}

{% block body %}
    <div class="color marginForm">
        <h1 class="text-white">Bienvenue sur la page de {{building.name}}</h1>
    </div>
{% endblock %}
