@import '../variables/variable.scss';
.containerBuilding{
    width: 100%;
    min-height: calc(100vh - 100px);
    margin-top: 100px;
    font-family: $roboto;

    #accueil, #actualite, #evenement, #sondage{
        display: block;
        width: 100%;
        position: relative;
        visibility: hidden;
        top: -100px; /* Déplace l'ancre vers le haut de 200px */
    }

    .imgBuildingHome{
        width: 100%;
        height: 65vh;
        background-color: black;
        position: relative;
        @include flex(column);

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }

        .buildingName{
            position: absolute;
            clip-path: polygon(5% 25%,50% 0,95% 25%,95% 75%,50% 100%,5% 75%);
            background-color: rgba(255, 191, 102, 0.7);
            width: 450px;
            height: 450px;
            color: $blueHard;
            @include flex(column);

            @media all and (max-width:500px) {
                width: 350px;
                height: 350px;
            }

            .textBuilding{
                width: 300px;
                height: 300px;
                @include flex(column);
                justify-content: space-around;
                @media all and (max-width:500px) {
                    width: 250px;
                    height: 200px;
                }
                h1{
                    font-size: 40px;
                    @media all and (max-width:500px) {
                        font-size: 30px;
                    }
                }
                span{
                    font-size: 20px;
                    @media all and (max-width:500px) {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .linksMenu{
        width: 100%;
        min-height: calc(calc(100vh - 100px) - 65vh);
        @include flex(column);
        padding: 20px;

        .containerLinksMenu{
           @include flex(row);
           flex-wrap: wrap;
           justify-content: space-around;
           width: 100%;
           max-width: 1200px;
           @media all and (max-width: 800px) {
              gap: 30px;
           }
            .linkContainer{
                position: relative;
                @include flex(column);
                gap: 20px;
                .link{
                    width: 130px;
                    height: 130px;
                    clip-path: polygon(5% 25%, 50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%);
                    background-color: $blueHard;
                    transition: all 0.5s;
                    @include flex(column);
                    svg{
                        width: 60px;
                        height: 60px;
                        fill: $white;
                    }
                }
                span{
                    color: $black;
                }
                a{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
                &:hover{
                    .link{
                        transform: scale(1.1);
                        background-color: $blueBasic;
                    }
                }
            }
        }
    }

    .actuBuilding{
        width: 100%;
        min-height: calc(100vh - 100px);
        background-color: $blueHard;
        position: relative;
        @include flex(column);

        &::before{
            position: absolute;
            content: "";
            width: 150px;
            height: 150px;
            left: 0;
            top: 0;
            clip-path: polygon(0 0, 0 100%, 100% 0);
            background-color: $white;
            @media all and (max-width: 700px) {
                display: none;
            }
        }

        .actuBuildingContainer{
            width: 100%;
            max-width: 1200px;
            min-height: 70vh;
            @include flex(column);
            @media all and (max-width: 1200px) {
              max-width: 900px;
            }
            @media all and (max-width: 900px) {
              max-width: 600px;
            }
            @media all and (max-width: 600px) {
              max-width: 400px;
            }
            @media all and (max-width: 400px) {
              max-width: 300px;
            }

            .titleAB{
                width: 100%;
                height: 100px;
                @include flex(column);
                align-items: end;
                @media all and (max-width: 1200px) {
                    align-items: center;
                    margin-top: 50px;
                }

                h2{
                    font-size: 90px;
                    margin: 0;
                    padding: 0;
                    color: $white;
                    @media all and (max-width: 600px) {
                        font-size: 60px;
                    }
                    @media all and (max-width: 400px) {
                        font-size: 50px;
                    }
                }
            }
            .newsContainer{
                width: 100%;
                min-height: calc(70vh - 150px);
                @include flex(row);
                justify-content: space-between;
                gap: 20px;
                flex-wrap: wrap;
                @media all and (max-width: 1200px) {
                    align-items: center;
                    justify-content: center;
                }
                @media all and (max-width: 1050px) {
                    gap: 0;
                }
                
                .newsItem{
                    width: 100%;
                    max-width: 550px;
                    height: calc(70vh - 150px);
                    @include flex(row);
                    @media all and (max-width: 575px) {
                        max-width: 300px;
                    }

                    .nouvelleContainer{
                        width: 100%;
                        height: 80%;
                        position: relative;
                        @include flex(column);
                        &:hover{
                            .imgNouvelle{
                                .seeMoreBtn{
                                    background-color: $blueHard;
                                    svg{
                                        fill: $yellow;
                                    }
                                }
                            }
                        }
                        .linkNews{
                            width: 100%;
                            height: 100%;
                            position: absolute;
                        }
                        .imgNouvelle{
                            width: 100%;
                            height: 75%;
                            position: relative;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                position: absolute;
                            }
                            .seeMoreBtn{
                                position: absolute;
                                width: 50px;
                                height: 50px;
                                clip-path: polygon(7% 25%, 52% 0, 95% 25%, 95% 75%, 53% 100%, 7% 75%);
                                background-color: $yellow;
                                right: 10px;
                                bottom: 10px;
                                transition: all 0.5s;
                                @include flex(column);
                                svg{
                                    width: 25px;
                                    height: 25px;
                                    fill: $blueHard;
                                }
                            }
                        }
                    }
                    .titleNouvelle{
                        width: 100%;
                        height: 25%;
                        @include flex(column);
                        justify-content: start;
                        span{
                            width: 100%;
                            flex: 1;
                            @include flex(column);
                            color: $white;
                            align-items: start;
                            &.titleNews{
                                font-size: 18px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .linkAllNews{
                width: 100%;
                height: 75px;
                @include flex(row);
                justify-content: end;
                transition: all 0.5s;
                .containerLAN{
                    width: 225px;
                    height: 100%;
                    position: relative;
                    @include flex(row);
                    justify-content: end;
                    gap: 10px;
                    &:hover{
                        .textLAN{
                            span{
                                border-bottom: 1px solid $white;
                            }
                        }
                        .btnSeeAllLan{
                            background-color: $brown;
                            svg{
                                fill: $yellow;
                            }
                        }
                    }
                    .textLAN{
                        color: $white;
                        font-style: italic;
                        font-size: 18px;
                    }
                    .btnSeeAllLan{
                        width: 50px;
                        height: 50px;
                        clip-path: polygon(7% 25%, 52% 0, 95% 25%, 95% 75%, 53% 100%, 7% 75%);
                        background-color: $yellow;
                        transition: all 0.5s;
                        @include flex(row);
                        svg{
                            width: 25px;
                            height: 25px;
                            fill: $blueHard;
                        }
                    }
                    .linkLAN{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                    }
                }
            }
        }
    }
    .sondageBuilding{
        width: 100%;
        min-height: calc(100vh - 100px);
        background-color: $white;
        color: $blueHard;
        @include flex(row);
        .sondageBuildingContainer{
            width: 100%;
            max-width: 1200px;
            min-height: 70vh;
            @include flex(column);
            justify-content: start;
            @media all and (max-width: 1200px) {
              max-width: 900px;
            }
            @media all and (max-width: 900px) {
              max-width: 600px;
            }
            @media all and (max-width: 600px) {
              max-width: 400px;
            }
            @media all and (max-width: 400px) {
              max-width: 300px;
            }
            .titleSliderSB{
                width: 100%;
                height: 100px;
                @include flex(row);
                @media all and (max-width: 1200px) {
                    margin-top: 50px;
                }
                h2{
                    margin: 0;
                    padding: 0;
                    font-size: 90px;
                    @media all and (max-width: 600px) {
                        font-size: 70px;
                    }
                    @media all and (max-width: 400px) {
                        font-size: 60px;
                    }
                }
            }
            .sondageContainer{
                width: 100%;
                min-height: calc(70vh - 150px);
                @include flex(row);
                justify-content: space-between;
                gap: 20px;
                flex-wrap: wrap;
                @media all and (max-width: 1200px) {
                    align-items: center;
                    justify-content: center;
                }
                
                .sondageItem{
                    width: 100%;
                    max-width: 550px;
                    height: calc(70vh - 150px);
                    @include flex(row);
                    border: 1px solid $blueHard;
                    @media all and (max-width: 575px) {
                        max-width: 300px;
                    }

                    .surveyContainer{
                        width: 100%;
                        height: 90%;
                        @include flex(column);
                        justify-content: start;
                        .imgSondage{
                            width: 65%;
                            height: 40%;
                            position: relative;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                position: absolute;
                            }
                        }
                        .descriptionSondage{
                            width: 100%;
                            padding: 10px 0;
                            min-height: 10%;
                            text-align: center;
                        }
                        form{
                            width: 100%;
                            height: 50%;
                            @include flex(column);
                            justify-content: start;
                            gap: 5px;
                            .choicesSondage{
                                width: 100%;
                                height: 45%;
                                @include flex(row);
                                gap: 20px;
                                .choice{
                                    width: 100px;
                                    height: 100%;
                                    position: relative;
                                    border: 1px solid $blueHard;

                                    input{
                                        position: absolute;
                                        height: 100%;
                                        width: 100%;
                                        margin: 0;
                                        cursor: pointer;
                                        z-index: 2;
                                        opacity: 0;
                                        &:checked+.radioTitle {
                                            background-color: $blueHard;
                                            color: $white;
                                            svg{
                                                fill: $white;
                                            }
                                        }
                                    }
                                    .radioTitle{
                                        height: 100%;
                                        transition: all 300ms ease;
                                        label{
                                            width: 100%;
                                            height: 100%;
                                            @include flex(column);
                                            svg{
                                                width: 25px;
                                                height: 25px;
                                            }
                                        }
                                    }
                                }
                            }
                            .btnSubmitSondage{
                                width: 100%;
                                height: 30%;
                                @include flex(row);
                                button{
                                    height: 100%;
                                    width: 340px;
                                    background-color: $yellow;
                                    border: none;
                                }
                            }
                            .messageVote{
                                width: 100%;
                                height: 25%;
                                @include flex(row);
                            }
                        }
                    }
                }
            }
            .linkAllSurveys{
                width: 100%;
                height: 75px;
                @include flex(row);
                justify-content: end;
                transition: all 0.5s;
                .containerLAS{
                    width: 225px;
                    height: 100%;
                    position: relative;
                    @include flex(row);
                    justify-content: end;
                    gap: 10px;
                    &:hover{
                        .textLAS{
                            span{
                                border-bottom: 1px solid $blueHard;
                            }
                        }
                        .btnSeeAllLas{
                            background-color: $yellow;
                            svg{
                                fill: $blueHard;
                            }
                        }
                    }
                    .textLAS{
                        color: $blueHard;
                        font-style: italic;
                        font-size: 18px;
                    }
                    .btnSeeAllLas{
                        width: 50px;
                        height: 50px;
                        clip-path: polygon(7% 25%, 52% 0, 95% 25%, 95% 75%, 53% 100%, 7% 75%);
                        background-color: $blueHard;
                        transition: all 0.5s;
                        @include flex(row);
                        svg{
                            width: 25px;
                            height: 25px;
                            fill: $yellow;
                        }
                    }
                    .linkLAS{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                    }
                }
            }
        }
    }
    .eventBuilding{
        width: 100%;
        min-height: calc(100vh - 100px);
        background-color: $yellow;
        position: relative;
        @include flex(row);

        &::before{
            position: absolute;
            content: "";
            width: 200px;
            height: 200px;
            right: 0;
            bottom: 0;
            clip-path: polygon(100% 100%, 0 100%, 100% 0);
            background-color: $white;
            @media all and (max-width: 1400px) {
                width: 100px;
                height: 100px;
            }
            @media all and (max-width: 1300px) {
                display: none;
            }
        }
        .eventBuildingContainer{
            width: 100%;
            max-width: 1200px;
            min-height: 70vh;
            @include flex(column);
            justify-content: start;
            @media all and (max-width: 1200px) {
              max-width: 900px;
            }
            @media all and (max-width: 900px) {
              max-width: 600px;
            }
            @media all and (max-width: 600px) {
              max-width: 400px;
            }
            @media all and (max-width: 400px) {
              max-width: 300px;
            }
            .titleSliderEB{
                width: 100%;
                height: 100px;
                @include flex(row);
                justify-content: space-between;
                @media all and (max-width: 1200px) {
                    @include flex(column);
                    height: 200px;
                    margin-top: 50px;
                }
                h2{
                    margin: 0;
                    padding: 0;
                    font-size: 90px;
                    @media all and (max-width: 600px) {
                        font-size: 70px;
                    }
                    @media all and (max-width: 400px) {
                        font-size: 60px;
                    }
                }
                .btnSliderEB{
                    width: 150px;
                    height: 100px;
                    @include flex(row);
                    justify-content: end;
                    gap: 5px;
                    @media all and (max-width: 1200px) {
                        justify-content: center;
                    }
                    div{
                        width: 50px;
                        height: 50px;
                        clip-path: polygon(7% 25%, 52% 0, 95% 25%, 95% 75%, 53% 100%, 7% 75%);
                        background-color: $blueHard;
                        transition: all 0.5s;
                        cursor: pointer;
                        @include flex(row);
                        svg{
                            width: 25px;
                            height: 25px;
                            fill: $yellow;
                        }
                        &:hover{
                            background-color: $blueBasic;
                        }
                    }
                }
            }
            .sliderEventCont{
                width: 100%;
                height: calc(70vh - 175px);
                overflow: hidden;
                position: relative;

                .sliderEvent{
                    height: 100%;
                    display: flex;
                    transition: transform 0.5s ease;
                    .sliderItem{
                        flex: 0 0 50%;
                        @include flex(row);
                        justify-content: start;
                        position: relative;
                        @media all and (max-width: 600px) {
                            flex: 0 0 100%;
                        }
                        @media (min-width:601px) and (max-width: 900px) {
                            align-items: start;
                            justify-content: center;
                        }
                        &:hover{
                            cursor: pointer;
                            .infoEvent{
                                background-color: $black;
                            }
                            .imgEvent{
                                right: -40% !important;
                                @media (min-width:601px) and (max-width: 900px) {
                                    right: 0;
                                    bottom: -40% !important;
                                }
                            }
                        }
                        .infoEvent{
                            width: 65%;
                            height: 65%;
                            position: relative;
                            background-color: $blueHard;
                            .infoContainer{
                                width: 80%;
                                height: 100%;
                                padding: 30px;
                                position: absolute;
                                @include flex(column);
                                align-items: start;
                                justify-content: start;
                                color: $white;
                                gap: 20px;
                                @media (min-width:601px) and (max-width: 900px) {
                                    width: 100%;
                                    height: 80%;
                                    gap: 10px;
                                    padding: 15px;
                                }
                                .dateEvent{
                                    font-size: 30px;
                                    @media all and (max-width: 1200px) {
                                        font-size: 20px;
                                    }
                                }
                                .titleEvent{
                                    font-size: 24px;
                                    @media all and (max-width: 1200px) {
                                        font-size: 16px;
                                    }
                                }
                                .durationEvent{
                                    @include flex(row);
                                    gap: 10px;
                                    @media all and (max-width: 900px) {
                                        gap: 5px;
                                    }
                                    svg{
                                        width: 25px;
                                        height: 25px;
                                        fill: $white;
                                        @media all and (max-width: 900px) {
                                            width: 15px;
                                            height: 15px;
                                        }
                                    }
                                    span{
                                        font-size: 20px;
                                        @media all and (max-width: 1200px) {
                                            font-size: 14px;
                                        }
                                        @media all and (max-width: 900px) {
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                            .imgEvent{
                                width: 70%;
                                height: 70%;
                                position: absolute;
                                right: -50%;
                                top: 50%;
                                transform: translateY(-50%);
                                transition: all 0.5s ;
                                @media (min-width:601px) and (max-width: 900px) {
                                    right: 0;
                                    transform: translateY(0%);
                                    transform: translateX(-50%);
                                    left: 50%;
                                    top: auto;
                                    bottom: -50%;
                                }
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                        .linkEvent{
                            width: 100%;
                            height: 100%;
                            position: absolute;
                        }
                    }
                }
            }
            .linkAllEvents{
                width: 100%;
                height: 75px;
                @include flex(row);
                justify-content: end;
                transition: all 0.5s;
                margin-top: 20px;
                .containerLAE{
                    width: 275px;
                    height: 100%;
                    position: relative;
                    @include flex(row);
                    justify-content: end;
                    gap: 10px;
                    &:hover{
                        .textLAE{
                            span{
                                border-bottom: 1px solid $blueHard;
                            }
                        }
                        .btnSeeAllLae{
                            background-color: $blueBasic;
                            svg{
                                fill: $yellow;
                            }
                        }
                    }
                    .textLAE{
                        color: $blueHard;
                        font-style: italic;
                        font-size: 18px;
                    }
                    .btnSeeAllLae{
                        width: 50px;
                        height: 50px;
                        clip-path: polygon(7% 25%, 52% 0, 95% 25%, 95% 75%, 53% 100%, 7% 75%);
                        background-color: $blueHard;
                        transition: all 0.5s;
                        @include flex(row);
                        svg{
                            width: 25px;
                            height: 25px;
                            fill: $yellow;
                        }
                    }
                    .linkLAE{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                    }
                }
            }
        }
    }
}