{% extends 'base.html.twig' %}

{% block title %}Mon Bon Syndic {% endblock %}

{% block body %}
    <div class="homepage">
        <div class="imgHome">
            <img src="/images/HomepageFont.jpg" alt="Image de fond de mon bon syndic">
        </div>
        <div class="textHomeContainer">
            <div class="textHome">
                <h1>Bienvenue sur Mon Bon Syndic</h1>
                <p>
                    Depuis 2018, Mon Bon Syndic est à votre service pour gérer avec expertise et transparence vos biens immobiliers. Situé au cœur de Bruxelles, à l'Avenue des Croissants Perdus, notre équipe dévouée met tout en œuvre pour assurer une gestion optimale de vos copropriétés.
                <p>
                </p>
                    Nous croyons en l'importance d'un service de qualité, personnalisé et adapté à vos besoins spécifiques. Avec Mon Bon Syndic, vous pouvez compter sur un suivi rigoureux, une communication fluide et une réactivité à toute épreuve.
                </p>
                <p>
                    Que vous soyez propriétaire ou locataire, nous sommes là pour vous accompagner au quotidien, en veillant à la bonne gestion et à la valorisation de votre patrimoine immobilier.
                </p>
                <p>
                    Mon Bon Syndic, c’est la tranquillité d’esprit et la confiance retrouvée dans la gestion de vos copropriétés.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
