{% extends 'base.html.twig' %}

{% block title %}Accès interdit{% endblock %}

{% block body %}
    <div class="container marginForm">
        <h1>Accès interdit (403)</h1>
        <p>Vous n'avez pas la permission d'accéder à cette page.</p>
    </div>
{% endblock %}