{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="container marginForm">
        <h1>Page non trouvée (404)</h1>
        <p>Désolé, la page que vous cherchez n'existe pas.</p>
    </div>
{% endblock %}